@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

/********** NAVBAR SECTION **********/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  padding: 1.6rem 4rem;
}

.nav-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-container .brand{
    z-index: 999;
}

.nav-container a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

.nav-container button {
  color: #333;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-left: 2.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.buttons #contact-btn {
  background: transparent;
  color: #333;
  border: none;
  text-decoration: underline;
}

.buttons #purchase-btn {
  background: #043b9c;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 25px;
}

.mobile-menu-icon {
  display: none;
}

#mobile-menu {
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
}

#mobile-menu a {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
}

#mobile-menu button {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 1.6rem 2rem;
  }

  .nav-container {
    gap: 10px;
  }

  .nav-links {
    display: none;
  }

  .buttons {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
    z-index: 999;
  }
}

/********** NAVBAR SECTION **********/

/********** HERO SECTION **********/

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-buttons :nth-child(1) {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #043b9c;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.hero-buttons :nth-child(2) {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #0a0a0a;
  background-color: transparent;
  color: #0a0a0a;
  font-size: 14px;
  cursor: pointer;
}

.hero-text h2 {
  font-family: "Merriweather", serif;
  font-weight: 600;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 4rem;
}

.hero-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.hero-container .hero-text h2 {
  font-size: 2rem;
  color: #333;
  max-width: 500px;
}

.hero-container .hero-text p {
  color: #333;
  max-width: 500px;
}

.hero-container img {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .hero-container {
    flex-direction: column;
    gap: 20px;
  }

  .hero-container img {
    width: 100%;
  }

  .hero-container .hero-text {
    text-align: center;
  }

  .hero-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

/********** HERO SECTION **********/

/********** COMPANIES SECTION **********/

#companies {
  width: 100%;
  background-color: #f9f9f9;
}

.companies-container {
  padding: 3rem 4rem;
}

.company-logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companies-container img {
  width: 120px;
  filter: grayscale(100%);
}

@media screen and (max-width: 900px) {
  .company-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .company-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 450px) {
  .company-logos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }
}

/********** COMPANIES SECTION **********/

/********** FEATURES SECTION **********/

#features {
  width: 100%;
  padding: 3rem 4rem;
}

#features .features-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#features h3 {
  color: #333;
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 2.2em;
  text-align: center;
  max-width: 50%;
}

.features-cards {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.features-card {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition-duration: 300ms;
}

.features-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.features-card .card-icon {
  background-color: #33333334;
  padding: 10px 10px 5px 10px;
  border-radius: 100%;
}

.features-card .card-title {
  font-weight: 600;
  font-family: "Merriweather", serif;
  text-align: center;
}

.features-card .card-text {
  color: #333;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #features h3 {
    max-width: 100%;
    font-size: 2em;
  }

  .features-card {
    max-width: 100%;
  }
}

/********** FEATURES SECTION **********/

/********** PRICING SECTION **********/

#pricing {
  width: 100%;
  padding: 3rem 4rem;
}

#pricing h4 {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2em;
  font-weight: 500;
}

#pricing h3 {
  margin-top: 0.5em;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  background: linear-gradient(to right, #043b9c, #a8a8a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2em;
}

.pricing-card {
  font-family: "Merriweather", serif;
  min-width: 350px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 80px;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition-duration: 300ms;
}

.card-features ul {
  list-style: none;
  padding: 0;
}

.card-features ul li {
  margin: 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.pricing-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.pricing-card .card-icon {
  background-color: #a4a2a234;
  padding: 15px 15px 10px 15px;
  border-radius: 100%;
}

.pricing-card .card-price {
  font-weight: 600;
  text-align: center;
}

.pricing-card .card-price h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-size: 2em;
  color: #043b9c;
}

.pricing-card .card-button button {
  padding: 10px 40px;
  border-radius: 25px;
  border: none;
  background-color: #043b9c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 300ms;
}

.pricing-card .card-button button:hover {
  background-color: #2f68ca;
}

/********** PRICING SECTION **********/

/********** FOOTER SECTION **********/

footer {
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: #333;
}

footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer-links a {
  text-decoration: underline;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .contacts a {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 980px) {
  footer {
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 680px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

/********** FOOTER SECTION **********/

/********** ABOUT SECTION **********/

#about {
  width: 100%;
  padding: 3rem 4rem;
}

.about-container {
  margin: 0rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.about-container img {
  width: 50%;
}

.about-text h2 {
  font-family: "Merriweather", serif;
  font-size: 2em;
  font-weight: 500;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  width: 45%;
}

.about-text p {
  color: #333;
  max-width: 450px;
}

@media screen and (max-width: 800px) {
  .about-text {
    width: 100%;
  }

  .about-container {
    flex-direction: column;
    margin: 1.6rem;
  }
}

/********** ABOUT SECTION **********/

/********** INFO SECTION **********/

.info {
  width: 100%;
  background-color: #f2f2f2;
  padding: 6rem 4rem 16rem 4rem;
  background-image: url("assets/cloud-banner.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info-text {
  font-size: 2.5em;
  color: #4a4a4a;
  font-weight: 300;
  font-family: "Merriweather", serif;
  width: 45%;
}

.info-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
}

.info-box h3 {
  font-size: 1.5em;
  color: #333;
  font-weight: 600;
}

.info-box ul {
  list-style: none;
  padding: 0;
}

.info-box ul li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

@media screen and (max-width: 800px) {
  .info {
    padding: 3rem 2rem;
  }

  .info-text {
    width: 100%;
    text-align: center;
  }
}

/********** INFO SECTION **********/
